In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Titanic-Dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.0,0,0,347089,6.9750,NaN,S
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
714,715,0,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.0000,NaN,S
602,603,0,1,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S
553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.0,0,0,2620,7.2250,NaN,C
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
323,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.0000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C
183,184,1,2,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0000,F4,S

In [5]:
df.dropna(subset=['Age'],inplace=True)

In [6]:
df['Gender']= df['Sex'].map({'male': 1, 'female': 2})

In [7]:
df['Class']= df['Embarked'].map({'C': 1, 'Q': 2,'S':3})

In [8]:
len(set(df['Cabin']))

135

In [9]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

df['Cabin'].fillna(50, inplace=True)

# Extract deck level from the Cabin number
df['Deck'] = df['Cabin'].str.slice(0, 1)

# Use label encoding to encode the Deck column
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Deck_encoded'] = label_encoder.fit_transform(df['Deck'])

In [10]:
df['Class'].fillna(-1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   714 non-null    int64
 1   Survived      714 non-null    int64
 2   Pclass        714 non-null    int64
 3   Name          714 non-null    object
 4   Sex           714 non-null    object
 5   Age           714 non-null    float64
 6   SibSp         714 non-null    int64
 7   Parch         714 non-null    int64
 8   Ticket        714 non-null    object
 9   Fare          714 non-null    float64
 10  Cabin         714 non-null    object
 11  Embarked      712 non-null    object
 12  Gender        714 non-null    int64
 13  Class         714 non-null    float64
 14  Deck          185 non-null    object
 15  Deck_encoded  714 non-null    int32
dtypes: float64(3), int32(1), int64(6), object(6)
memory usage: 92.0+ KB

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
x=df.drop(columns=['Survived',"Pclass",'PassengerId','SibSp' ,'Parch','Ticket','Name',"Sex","Embarked","Deck" ,"Cabin"])
y=df['Survived']

In [14]:
x

      Age     Fare  Gender  Class  Deck_encoded
0    22.0   7.2500       1    3.0             8
1    38.0  71.2833       2    1.0             2
2    26.0   7.9250       2    3.0             8
3    35.0  53.1000       2    3.0             2
4    35.0   8.0500       1    3.0             8
..    ...      ...     ...    ...           ...
885  39.0  29.1250       2    2.0             8
886  27.0  13.0000       1    3.0             8
887  19.0  30.0000       2    3.0             1
889  26.0  30.0000       1    1.0             2
890  32.0   7.7500       1    2.0             8

[714 rows x 5 columns]

In [15]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [17]:
y_pred=model.predict(x_test)

In [18]:
AS=accuracy_score(y_test,y_pred)
print(AS)

0.7272727272727273